<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanjay Pathak</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/phone.css">
</head>

<body>
    {{>navbar}}


    <div id="container">

        <div id="left">

            <div id="about">

                <p>
                    Hii I am

                </p>
                <p>
                    Sanjay Pathak
                </p>
            </div>
            <div id="links">
                <ul>


                    <a class="linksA" href="https://github.com/SanjayPathak289" target="_blank"
                        rel="noopener noreferrer">
                        <li><i class="fa-brands fa-github"></i></li>
                    </a>

                    <a class="linksA" href="https://www.linkedin.com/in/sanjay-pathak-a3b746302" target="_blank"
                        rel="noopener noreferrer">
                        <li><i class="fa-brands fa-linkedin-in"></i>
                        </li>
                    </a>


                    {{!-- <a class="linksA" href="/" target="_blank" rel="noopener noreferrer">
                        <li><i class="fa-brands fa-twitter"></i></li>
                    </a> --}}



                    <a class="linksA" href="https://codeforces.com/profile/sanjay289" target="_blank"
                        rel="noopener noreferrer">
                        <li class="linkImg"><img src="/img/codeforces.png" alt=""></li>
                    </a>

                    <a class="linksA" href="https://leetcode.com/SanjayPathak/" target="_blank"
                        rel="noopener noreferrer">
                        <li class="linkImg"><img src="/img/leetcode.png" alt=""></li>
                    </a>
                </ul>

            </div>
        </div>
        <div id="right">
            <img src="/img/photo.jpg" alt="My Image">
            </svg>
        </div>
    </div>


    <div id="aboutMe">

        <p>
            I am Sanjay Pathak currently pursuing Btech from IIT Roorkee. I am a passionate technophile and programming
            enthusiast. I love to solve problems using code. I always eager to learn more and help others in the tech
            community.I have a solid base in HTML, CSS, JavaScript, NodeJS, ExpressJS , MongoDB, ReactJS. I have also
            experience in C++. One of my strengths is my ability to adapt and learn quickly. I enjoy staying up-to-date
            with the latest trends and technologies in the field of web development, and I am always eager to expand my
            skill set.
        </p>
    </div>

    <div id="projects">
        <div id="projectContainer">
            <div id="projectHeading">
                <p>My Projects</p>
            </div>

            <div id="projectArea">
                <div class="projectName" id="tourManager">
                    <div class="showT">
                        <p>Sync</p>
                    </div>
                    <div class="childProject">
                        <div class="projectTitle">
                            A Social Media Platform with enhanced security, engaging news feed with inbuilt messenger.
                        </div>
                        <div class="projectLinks">
                            <a href="https://github.com/SanjayPathak289/Sync-A-Social-Media" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-square-github"></i></a>
                            <a href="https://sync-sn46.onrender.com" target="_blank" rel="noopener noreferrer">
                                <i class="fa-sharp fa-solid fa-link"></i></a>
                            <a href="https://sync-ijyw.onrender.com" target="_blank" rel="noopener noreferrer">
                                <i class="fa-sharp fa-solid fa-link"></i></a>

                        </div>
                    </div>
                </div>
                <div class="projectName" id="homework">
                    <div class="showT">
                        <p>CAPTION WIZARD</p>
                    </div>
                    <div class="childProject">
                        <div class="projectTitle">
                            An app which generate subtitles for user-uploaded videos and audios.
                        </div>
                        <div class="projectLinks">
                            <a href="https://github.com/SanjayPathak289/Caption-Wizard" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-square-github"></i></a>
                            {{!-- <a href="https://www.homeworkdone.tech/" target="_blank" rel="noopener noreferrer">
                                <i class="fa-sharp fa-solid fa-link"></i></a> --}}

                        </div>
                    </div>
                </div>
                <div class="projectName" id="videoGuru">
                    <div class="showT">
                        <p>WEB ANNOTATOR</p>
                    </div>
                    <div class="childProject">
                        <div class="projectTitle">
                            A Chrome extension for highlighting, taking notes of a webpage.
                        </div>
                        <div class="projectLinks">
                            <a href="https://github.com/SanjayPathak289/Web-Annotator" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-square-github"></i></a>
                            {{!-- <a href="https://ytmp3converter.netlify.app/" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-sharp fa-solid fa-link"></i></a> --}}

                        </div>
                    </div>
                </div>
                <div class="projectName" id="noteApp">
                    <div class="showT">
                        <p>COLLEGE MART</p>
                    </div>
                    <div class="childProject">
                        <div class="projectTitle">
                            A Web App that helps in buying and selling of goods of college students with referrals and
                            chatting system.
                        </div>
                        <div class="projectLinks">
                            <a href="https://github.com/SanjayPathak289/College-Mart" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-square-github"></i></a>
                            <a href="https://ecommerce-97tk.onrender.com" target="_blank" rel="noopener noreferrer">
                                <i class="fa-sharp fa-solid fa-link"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <hr>


    {{>contact}}
    {{>footer}}

</body>
<script>

    const navbar = document.getElementById("navbar");
    const leftNav = document.getElementById("leftNav");
    const rightNav = document.getElementById("rightNav");
    const rightLinks = document.getElementById("rightLinks");
    const rightUl = document.getElementById("rightUl");
    const hamburger = document.getElementById("hamburger");
    const hamLine = document.getElementById("hamLine");
    const mobileToggleCSS = () => {
        navbar.classList.toggle("mobile-nav");
        leftNav.classList.toggle("mobile-leftNav");
        rightNav.classList.toggle("mobile-rightNav");
        rightLinks.classList.toggle("mobile-rightLinks");
        rightUl.classList.toggle("mobile-ul");
        hamburger.classList.toggle("mobile-hamburger");
        hamLine.classList.toggle("mobile-hamLine");

    }
    hamburger.addEventListener("click", mobileToggleCSS)
    rightLinks.addEventListener("click", mobileToggleCSS)
</script>

</html>