<nav id="navbar">
    <div id="leftNav">

        <a href="/" target="_blank" rel="noopener noreferrer">
            <img src="/img/logo.png" alt="Logo">
        </a>

    </div>


    <div id="rightNav">

        <div id="rightLinks">
            <ul id="rightUl">
                <li><a href="#projectContainer">Projects</a></li>
                <li><a href="#aboutMe">About Me</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

    </div>
    <div id="hamburger">
        <div id="hamLine"></div>
    </div>
</nav>